@charset "utf-8";
/*
    Em html é id = em css é #
    em html é class = em css é .
*/
body{
    background-color: rgb(225, 255, 245);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #38613D;
}
h1#principal{
    text-align: center;
    background-color: #5DA165;
    color: white;
}
h2{
    color: #73C77D;
}

.basico{
    color: #8AED95;
    font-weight: bold;
}
.intermediario{
    color: #e9e78d;
}
.avançado{
    color: #a15d5d;
}
.destaque{
    background-color: rgba(243, 243, 127, 0.212);
}